<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="header :: common-header"></head>

<body>
<div class="container">
    <div th:replace="header :: header-script"></div>
    <div class="row h-100 justify-content-center align-items-center">
        <form style="margin: 10%; position: center">
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <button type="submit" class="btn btn-primary" style="alignment: right">Submit</button>
        </form>
    </div>

</div>
</body>
</html>