<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="header :: common-header"></head>

<body>
<div class="container">
    <div th:replace="header :: header-script"></div>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="#">Post Blogs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">All Blogs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">My Blogs</a>
        </li>
    </ul>
    <div th:replace="header :: body-bottom-scripts"></div>
</div>
</body>
</html>