<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="header :: common-header"></head>

<body>
<div class="container">
    <div th:replace="header :: header-script"></div>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" th:href="@{/login/user}">Post Blogs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/login/user/blog}">My Blogs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/login/user/all}">All Blogs</a>
        </li>

    </ul>

    <div class="row" style="margin: 50px">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">@</span>
            </div>
            <input id="title" type="text" class="form-control" placeholder="Title" aria-label="Title"
                   aria-describedby="basic-addon1">
        </div>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Blog</span>
            </div>
            <textarea class="form-control" aria-label="With textarea" id="blog"> </textarea>
        </div>

        <button id="save" class="btn btn-primary" type="submit" style="width: 100%">Save</button>
    </div>
    <div class="row">
        <label id="demo"></label>
    </div>

    <div th:replace="header :: body-bottom-scripts"></div>
</div>
<script>
    $(document).ready(function () {
        $("#save").click(function (e) {
            e.preventDefault();

            let title = $("#title").val().trim();
            let body = $("#blog").val().trim();
            let blog = {
                userId: '',
                blogTitle: title,
                blogBody: body,
                blogPostTime: '',
                activeOrNot: false
            }
            axios.post('http://localhost:8080/api/v1/blog',
                blog,
                {
                    headers:
                        {
                            'Authorization': getCookie('token'),
                            'Content-Type': 'application/json',
                            'Access-Control-Allow-Origin': "*/*"
                        }
                })
                .then(value => {
                    console.log(value);
                })
                .catch(reason => {
                    console.log(reason)
                })
        });
    });
</script>
</body>
</html>